<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {# Lägg gärna till CSS för dropdown, t.ex. via Bootstrap #}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <header class="site-header" style="background-image: url({{ asset('img/violion.jpg') }})">
        <span class="site-title">My Symfony Site</span>
    </header>
    <body>
        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li class="dropdown">
                    <a href="{{ path('report') }}" class="dropdown-toggle">Report</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('report') }}#kmom01">Kmom01</a></li>
                        <li><a href="{{ path('report') }}#kmom02">Kmom02</a></li>
                        <li><a href="{{ path('report') }}#kmom03">Kmom03</a></li>
                        <li><a href="{{ path('report') }}#kmom04">Kmom04</a></li>
                        <li><a href="{{ path('report') }}#kmom05">Kmom05</a></li>
                        <li><a href="{{ path('report') }}#kmom06">Kmom06</a></li>
                        <li><a href="{{ path('report') }}#kmom07">Kmom07/10</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('lucky_number') }}">Lucky number</a></li>
                <li><a href="{{ path('api_overview') }}">API</a></li>
                {# Dropdown för Card Home #}
                <li class="dropdown">
                    <a href="{{ path('card_home') }}" class="dropdown-toggle">Cards</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('card_deck') }}">Visa kortleken</a></li>
                        <li><a href="{{ path('card_deck_shuffle') }}">Blanda kortleken</a></li>
                        <li><a href="{{ path('card_deck_draw') }}">Dra ett kort</a></li>
                        <li><a href="{{ path('session_index') }}">Visa session</a></li>
                        <li><a href="{{ path('session_delete') }}">Rensa session</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="{{ path('game_home') }}" class="dropdown-toggle">Blackjack</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('game_start') }}">Starta Spel</a></li>
                        <li><a href="{{ path('game_doc') }}">Doc</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="{{ path('app_library') }}" class="dropdown-toggle">Library</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('library_list') }}">Visa alla böcker</a></li>
                        <li><a href="{{ path('library_create') }}">Lägg till ny bok</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        {% block main %}{% endblock %}
        {% include 'footer.html.twig' %}
    </body>
</html>
