{% extends 'base.html.twig' %}
{% block main %}
  <h2>{{ action }}</h2>
  <form 
    method="post" 
    action="{{ form_action }}" 
    class="book-form"
    enctype="multipart/form-data"
  >
    <label for="titel">Titel</label>
    <input 
      type="text" 
      id="titel" 
      name="titel" 
      value="{{ book ? book.titel : '' }}" 
      required
    >

    <label for="author">Författare</label>
    <input 
      type="text" 
      id="author" 
      name="author" 
      value="{{ book ? book.author : '' }}" 
      required
    >

    <label for="isbn">ISBN</label>
    <input 
      type="text" 
      id="isbn" 
      name="isbn" 
      value="{{ book ? book.isbn : '' }}" 
      required
    >

    <button type="submit">{{ action }}</button>
  </form>
{% endblock %}
