{% extends 'base.html.twig' %}

{% block main %}
  <div class="book-details">
    <h2>{{ book.titel }}</h2>
    <p><strong>Författare:</strong> {{ book.author }}</p>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    {% if book.imageUrl %}
      <img src="{{ asset('uploads/' ~ book.imageUrl) }}"
           alt="Omslag för {{ book.titel }}">
    {% endif %}
  </div>
{% endblock %}
